image: python:3.7-alpine

stages:
  - build
  - deploy

before_script:
  - apk add --no-cache --virtual .build-deps gcc musl-dev
  - pip install cython
  - apk del .build-deps gcc musl-dev
  - pip install pipenv
  - pip install twine
   
prepare:
  stage: build
  variables:
    TWINE_USERNAME: banana
    TWINE_PASSWORD: farts
  script:
    - pipenv install --ignore-pipfile

source_wheel:
  stage: deploy
  script:
    - pipenv run python setup.py sdist

binary_wheel:
  stage: deploy
  script:
    - pipenv run python setup.py bdist_wheel --universal

deploy_staging:
  stage: deploy
  variables:
    TWINE_USERNAME: $STAGING_USERNAME
    TWINE_PASSWORD: $STAGING_PASSWORD
  script:
    - twine upload --repository-url $STAGING_URL dist/*
  except:
    - tags

deploy_production:
  stage: deploy
  variables:
    TWINE_USERNAME: $PRODUCTION_USERNAME
    TWINE_PASSWORD: $PRODUCTION_PASSWORD
  script:
    - twine upload dist/*
  only:
    - tags