[[source]]
name = "jackpine"
url = "https://${PYPI_CREDENTIALS}@nexus.jackpinetech.com/repository/pypi-group/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
cons3rt = {editable = true,path = "."}

[requires]
python_version = "3.7"
